@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --blue-light: #F9FBFF;
    --blue-primary: #001E4B;
    --blue-medium: #DBE5F4;
    --blue-grey: #6F829E;
}

html{
    background-color: var(--blue-light);
}